@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #000000;
}


h1 {
  font-size: 50px;
  font-family: 'Mynerve', sans-serif;
}


header {
  background-color: #000000;
  color: #ff0000;
  padding: 20px;
}

p,
h2 {
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

section {
  flex: 3;
  margin-right: 20px;
}

article {
  background-color: #2d2d2d;
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 20px;
}

aside {
  background-color: #2d2d2d;
}

article h2 {
  margin-top: 0;
}

article p {
  line-height: 1.5;
}

article a {
  display: block;
  text-align: right;
}

aside {
  flex: 1;
}

footer {
  background-color: #2d2d2d;
  color: #fff;
  padding: 15px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: block;
  margin: 0 10px;
}

.social-links img {
  height: 30px;
  width: auto;
}


a {
  color: #fff;
}

body {
  background-color: #2d2d2d;
  color: #ffffff;
}

a {
  color: #ffffff;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
}

label.checkbox:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 1px solid #ccc;
}

label.checkbox:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 2px;
  position: absolute;
  top: 5px;
  left: 2px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="checkbox"]:checked+label:before {
  background-color: #000;
  border: 1px solid #000;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

#switcher {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 10rem;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="submit"]:active {
  background-color: #367539;
}


.dark-mode {
  background-color: #ffffff;
  color: #ffffff;
}

.dark-mode article {
  background-color: #ffffff;
  border: 1px solid #2d2d2d;
  margin-bottom: 20px;
  padding: 20px;
}

.dark-mode footer {
  background-color: #ffffff;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid #2d2d2d;
  border-top: 1px solid #2d2d2d;
}

.dark-mode aside {
  background-color: #ffffff;
}

.dark-mode p,
.dark-mode h2 {
  color: #2d2d2d;
}

.dark-mode header {
  background-color: #ffffff;
  color: #2d2d2d;
  padding: 20px;
  border-bottom: 1px solid #2d2d2d;
}

.dark-mode li a {
  color: #2d2d2d;

}

.dark-mode #switcher {
  color: #2d2d2d;
}

.dark-mode body {
  background-color: #ffffff;
  color: #2d2d2d;
}

.dark-mode a {
  color: #2d2d2d;
}

